<template>
    <div>
        <UserNavbar/>
        <div class="container-fluid">
            <div class="col-md-5 mx-auto">
                <div class="card">
                    <div class="card-body p-4">
                        <form>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input v-model="user.email" type="email" class="form-control" id="exampleInputEmail1" autocomplete="off" disabled>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="exampleInputPassword1" class="form-label">First Name</label>
                            <input v-model="user.first_name" type="text" class="form-control" id="exampleInputPassword1" autocomplete="off" disabled>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="exampleInputPassword1" class="form-label">Last Name</label>
                            <input v-model="user.last_name" type="text" class="form-control" id="exampleInputPassword1" autocomplete="off" disabled>
                        </div>
                    </div>
                    <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="exampleInputPassword1" class="form-label">Gender</label>
                        <select v-model="user.gender" class="form-select form-select-md" aria-label=".form-select-sm example" disabled>
                            <option selected disabled>Select Gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="exampleInputPassword1" class="form-label">Contact</label>
                        <input v-model="user.contact" type="text" class="form-control" id="exampleInputPassword1" autocomplete="off" disabled>
                    </div>
                </div>
                
                        </form>
                            <button class="btn btn-primary w-25" @click="$bvModal.show('editModal')">Edit <i class="fas fa-edit"></i></button>
                    </div>
                </div>
            </div>  
        </div>

        <b-modal id="editModal" centered title="Edit Your Profile">
            <form action="" class="me-auto" >
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input v-model="user.email" type="email" class="form-control" id="exampleInputEmail1" autocomplete="off">
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="exampleInputPassword1" class="form-label">First Name</label>
                        <input v-model="user.first_name" type="text" class="form-control" id="exampleInputPassword1" autocomplete="off">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="exampleInputPassword1" class="form-label">Last Name</label>
                        <input v-model="user.last_name" type="text" class="form-control" id="exampleInputPassword1" autocomplete="off">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="exampleInputPassword1" class="form-label">Gender</label>
                        <select v-model="user.gender" class="form-select form-select-md" aria-label=".form-select-sm example">
                            <option selected>--------</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="exampleInputPassword1" class="form-label">Contact</label>
                        <input v-model="user.contact" type="text" class="form-control" id="exampleInputPassword1" autocomplete="off">
                    </div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input v-model="user.password" type="password" class="form-control" id="exampleInputPassword1" autocomplete="off">
                    <small class="text-muted">Note: Please remember your password when you change it.</small>
                </div>
            </form>
            <template #modal-footer = {cancel} >
                <b-button variant="primary" size="sm" @click="cancel()"> Cancel </b-button>
                <b-button size="sm" variant="success" @click="update">
                    Update Profile
                </b-button>
            </template>
        </b-modal>
    </div>
</template>
<script>
import UserNavbar from '@/components/Navbar/UserNav.vue'
import {mapState} from 'vuex';
export default({
    name: 'UserProfile',
    data(){
        return {
            
        }
    },
    components:{
        UserNavbar
    },
    computed: {
        ...mapState('auth', ['user']),
    },
    async mounted() {
        await this.$store.dispatch('auth/checkAuthUser');
    },
    methods: {
    async update(){
       const res = await this.$store.dispatch('auth/updateAccount', this.user)
       if(res.status == 200){
           this.$toast.success('Account updated successfully!');
           await this.$store.dispatch('auth/checkAuthUser');
           this.$bvModal.hide('editModal');
       }
       else {
           this.$toast.error('Something went wrong')
       }

       console.log(res)
    }
    }
})
</script>
<style scoped>
.navbar{
    background-color: #ced4da !important;
}

.required{
    color: red;
}

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid transparent;
    border-radius: 0px;
    width: 100%;
    padding: 20px;
    margin: 20px;
    top: 280px;
    height: 100% !important;
    max-height: 510px;
    overflow: auto;
    border: none;
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}
</style>

