<template>
    <div>
    <AdminNavbar/>
        <div class="container-fluid">
            <div class="col-lg-10 mx-auto">
                <div class="card tbl-card h-100">
                    <div class="card-body text-center">
                        <h6 class="card-title">Account Management</h6>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="thead-light text-center">
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Posted Report(s)</th>
                                    <th scope="col">Date Registered</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody class="customtable">
                                <tr v-for="(user, i) in users" :key="i">
                                    <td class="text-center">{{ user.first_name }} {{ user.last_name }}</td>
                                    <td class="text-center">{{ user.email }}</td>
                                    <td class="text-center">0</td>
                                    <td class="text-center">{{ user.created_at | moment}}</td>
                                    <td class="text-center">
                                        <span class="badge rounded-pill" :class="user.account_status == 'Not verified' ? 'bg-danger' : 'bg-success'">
                                            {{ user.account_status }}
                                        </span>
                                    </td>
                                    <td style='white-space: nowrap;' class="text-center">
                                        <button class="btn btn-primary mx-2" @click="updateUser = user; $bvModal.show('editModal')">Edit <i class="fas fa-edit"></i></button>
                                        <button class="btn btn-danger" @click="deleteUser = user.id; $bvModal.show('deleteModal')"><i class="fas fa-trash"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <b-modal id="editModal" centered title="Edit User">
            <form action="" class="me-auto" >
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input v-model="updateUser.email" type="email" class="form-control" id="exampleInputEmail1" autocomplete="off">
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="exampleInputPassword1" class="form-label">First Name</label>
                        <input v-model="updateUser.first_name" type="text" class="form-control" id="exampleInputPassword1" autocomplete="off">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="exampleInputPassword1" class="form-label">Last Name</label>
                        <input v-model="updateUser.last_name" type="text" class="form-control" id="exampleInputPassword1" autocomplete="off">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="exampleInputPassword1" class="form-label">Gender</label>
                        <select v-model="updateUser.gender" class="form-select form-select-md" aria-label=".form-select-sm example">
                            <option selected>--------</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="exampleInputPassword1" class="form-label">Contact</label>
                        <input v-model="updateUser.contact" type="text" class="form-control" id="exampleInputPassword1" autocomplete="off">
                    </div>
                </div>
                <div class="col-md-12 mb-3">
                    <label for="exampleInputPassword1" class="form-label">Account Status</label>
                    <select v-model="updateUser.account_status" class="form-select form-select-md" aria-label=".form-select-sm example">
                        <option value="Verified">Verified</option>
                    </select>
                </div>
            </form>
            <template #modal-footer = {cancel} >
                <b-button variant="primary" size="sm" @click="cancel()"> Cancel </b-button>
                <b-button size="sm" variant="success" v-on:click.prevent="update">
                    Update Profile
                </b-button>
            </template>
        </b-modal>

        <b-modal id="deleteModal" centered title="Confirm">
            <form action="" class="me-auto" >
                <p>Are you sure to delete this account?</p>
            </form>
            <template #modal-footer = {cancel} >
                <b-button variant="primary" size="sm" @click="cancel()"> Cancel </b-button>
                <b-button size="sm" variant="danger" @click="destroyUser">
                    Delete Account
                </b-button>
            </template>
        </b-modal>
    </div>
</template>
<script>
import AdminNavbar from '@/components/Navbar/AdminNav.vue'
import {mapState} from 'vuex'
import moment from 'moment'

export default({
    name: 'Users', 
    components:{
        AdminNavbar
    },
    data() {
        return {
            deleteUser: '',
            updateUser: {
                email: '',
                first_name: '',
                last_name: '',
                gender: '',
                contact: '',
                account_status: ''
            }
        }
    },
    filters: {
        moment: function (date) {
        return moment(date).format('MMMM D, YYYY, h:mm a');
        }
    },
    computed: {
        ...mapState('admin', ['users']),
    },
    async mounted() {
        await this.$store.dispatch('admin/getUser');
    },
    methods: {
        async destroyUser(){
            const res = await this.$store.dispatch('admin/deleteUser', this.deleteUser)
            console.log(res)
            if(res.status == 200){
                this.$bvModal.hide('deleteModal')
                this.$toast.success('Account deleted successfully')
            } else {
                this.$toast.error('Something went wrong')
            }
        },
         async update(){
            const res = await this.$store.dispatch('admin/updateUser', this.updateUser)
            if(res.status == 200){
                this.$toast.success('Account updated successfully!');
                this.$bvModal.hide('editModal');
            }
            else {
                this.$toast.error('Something went wrong')
            }

            console.log(res)
        }
    }
})
</script>
<style scoped>
.tbl-card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid transparent;
    border-radius: 0px;
    width: 100%;
    padding: 20px;
    margin: 20px;
    top: 280px;
    height: 100% !important;
    max-height: 510px;
    overflow: auto;
    border: none;
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card .card-title {
    font-weight: 600;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}

.table th,
.table thead th {
    font-weight: 500;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.table th {
    padding: 1rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table th,
.table thead th {
    font-weight: 500;
}

th {
    text-align: inherit;
}

.m-b-20 {
    margin-bottom: 20px;
}
</style>

