<template>
    <div class="hero">
        <div class="card w-50">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-md-4 left-section">
                    </div>
                    <div class="col-md-8 right-section p-5 text-center">
                        <div class="logo">
                            <img src="../../assets/images/logo.png" class="img-fluid" style="height: 40px; width: 190px;" alt="">
                        </div>
                        <form action="" class="me-auto">
                            <div class="form-floating mt-5 mb-3">
                                <input v-model="data.email" type="email" class="form-control" name="email" id="email" placeholder="administrator@gmail.com" autocomplete="off" required>
                                <label for="email">Email Address</label>
                            </div>
                            <div class="form-floating mb-2">
                                <input v-model="data.password" type="password" class="form-control" name="password" id="password" placeholder="Password" required>
                                <label for="password">Password</label>
                            </div>
                            <div class="form-check mb-4">
                              <input v-model="adminlogin" type="checkbox" class="form-check-input" id="adminlogin">
                              <label class="form-check-label d-flex" for="adminlogin"><small>Administrator</small></label>
                            </div>
                            <button v-on:click.prevent="login" class="btn rounded-pill btn-primary mb-3 w-50">
                                Login
                            </button>
                        </form>
                        <p>Don't have an account? <router-link to="/register">Create here.</router-link></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {mapActions} from 'vuex'
export default {
    name: 'Login',
    data() {
        return{
            data: {
                email: '',
                password: ''
            },
            adminlogin: false,
        }
    },
    mounted() {
    },
    methods: {
       ...mapActions('auth', ['loginAccount', 'loginUserAccount']),
    async login(){
      if(this.adminlogin){
        await this.loginAccount(this.data).then(res => {
          if(res.status == 200)
          {
            this.$router.push('/admin/dashboard');
            this.$toast.success('Logged in')
          }
          else 
          {
            this.$toast.error('Invalid Credentials')
          }
        })
      }
      else {
        await this.loginUserAccount(this.data).then(res => {
        if(res.status == 200)
        {
          this.$router.push('/user/dashboard');
          this.$toast.success('Logged in')
        }
        else 
        {
          this.$toast.error('Invalid Credentials')
        }
      }) 
      }
    }
  }

}
</script>
<style scoped>
    @import '../../assets/css/style.css'
</style>