<template>
    <div class="hero">
        <div class="card w-50">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-md-4 left-section">
                    </div>
                    <div class="col-md-8 right-section p-5 text-center">
                        <div class="logo">
                            <img src="../../assets/images/logo.png" class="img-fluid" style="height: 40px; width: 190px;" alt="">
                        </div>
                        <form action="" class="me-auto" >
                            <div class="form-floating mt-5 mb-3">
                                <input type="email" class="form-control" v-model="data.email" name="email" id="email" placeholder="administrator@gmail.com" autocomplete="off" required>
                                <label for="email">Email Address</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" v-model="data.first_name" name="firstname" id="firstname" placeholder="administrator@gmail.com" autocomplete="off" required>
                                <label for="firstname">First Name</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" v-model="data.last_name" name="lastname" id="lastname" placeholder="administrator@gmail.com" autocomplete="off" required>
                                <label for="lastname">Last Name</label>
                            </div>
                            <div class="form-floating mb-4">
                                <input type="password" class="form-control" v-model="data.password" name="password" id="password" placeholder="Password" required>
                                <label for="password">Password</label>
                            </div>
                            <button class="btn rounded-pill btn-success mb-3 w-50" @click.prevent="register">
                                Create account
                            </button>
                        </form>
                        <router-link to="/">Already have an account.</router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Register',
    data(){
        return {
            data: {
                email: '',
                first_name: '',
                last_name: '',
                password: '',
            }
        }
    },
    methods: {
        async register(){
            const res = await this.$store.dispatch('auth/createAccount', this.data)
            console.log(res)
            if(res.status == 200){
                this.$toast.success('Account created successfully')
                this.data = {
                    email: '',
                    first_name: '',
                    last_name: '',
                    password: '',
                },
                this.$router.push('/')
            } else {
                this.$toast.error('Something went wrong')
            }
        }
    }
}
</script>
<style scoped>
    @import '../../assets/css/style.css'
</style>